<!DOCTYPE html>
<html>
  <h1>
    <title>Squirrel Tracker</title>
  </h1>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

  <style>
    body,h1 {font-family: "Raleway", sans-serif}
    body, html {height: 100%}
    body {
      background-image: url('https://cdn.mos.cms.futurecdn.net/gcjRaC5hazG2uQFzASFYMV-1024-80.jpg');
      min-height: 100%;
      background-position: center;
      background-size: cover;
    }
  </style>

  <body>
    <div class="w3-display-topleft w3-padding-large w3-medium"><font color="white">
      Tools for Analytics S02 - Group 66: Mingfei Li, Xiaotong Ren
    </div>

    <div class="w3-display-middle">
      <h1 class="w3-jumbo w3-animate-top"><font color="white">Squirrel Tracker</h1>
      <hr class="w3-border-grey" style="margin:auto;width:40%">
      <p class="w3-large w3-center"><font color="white"><a href="sightings/">Sightings</a></p>
      <p class="w3-large w3-center"><font color="white"><a href="map/">Map of Spotted Squirrels</a></p>
    </div>

  </body>
</html>
